@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-jua);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jua);
  letter-spacing: 1;
}

canvas {
  touch-action: none;
}
